// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-grey: #F4F4F4;
$white:#fff;
$black:#000;
$dark-grey:#616668;
$brique:#da552f;
$grey:#E6E6E6;
$rouge-coeur:#D23333;
